<div>
    <div id="container2">
        <div id="lftbx1">
            <h2>Aboutus</h2>
            <p>
            Lumiere hospitality consultants is a complete hospitality consultancy company for the food & beverage industries.Our mission is to work with hoteliers and develop their dreams into a reality.

            Lumiere hospitality is based in the Middle East and Asia. We hold pride in being an independent firm and providing jobs to hotelier from conceptual design to implementation.we carefully conduct studies on client’s requirements customized to ensure that their dreams and end goals are achieved properly. .

            The Lumiere team lives for hospitality. The Team ensures that the experiences gained internationally are put into good use. They strive to make your industry stand out and make you well known for your hospitality with properly trained staff. The consultants constantly stay updated with the industry to know the requirement of the employer as well as employee.

            Lumiere Hospitality is focused on delivering and exceeding our client’s expectation.
            </p>
        <div>

    </div>

<!--