{% extends 'Base.html' %}

{% block content %}
{% include "header.html" %}

<div id="container2">
    <div id="lftbx1">
        <h2>Aboutus</h2>
        <p>
            Lumiere hospitality consultants is a complete hospitality consultancy company for the food & beverage industries.Our mission is to work with hoteliers and develop their dreams into a reality.
            Lumiere hospitality is based in the Middle East and Asia. We hold pride in being an independent firm and providing jobs to hotelier from conceptual design to implementation.we carefully conduct studies on client’s requirements customized to ensure that their dreams and end goals are achieved properly. .

            The Lumiere team lives for hospitality. The Team ensures that the experiences gained internationally are put into good use. They strive to make your industry stand out and make you well known for your hospitality with properly trained staff. The consultants constantly stay updated with the industry to know the requirement of the employer as well as employee.

            Lumiere Hospitality is focused on delivering and exceeding our client’s expectation.
        </p>
    </div>
    <div id ="rightbx2">
        <h2>Mission</h2>
        <p>Our Company aims to deliver efficient consultancy, quality and reliable services to all our valuable clients as well as a platform to offer good career opportunities for the job seekers. Time is always a challenge. It is critical to have timely staffing to ensure the efficiency of business operations. On the other hand, getting to the right job for the job seekers allow them to maximize their talents and bring about more values to themselves as well as their employers. We understand the needs of both our clients and candidates. Tapping on to our ever increasing resource pool of clients and candidates, we are able to provide fast matching and successful placements.
        </p>
        <h2>Vision</h2>
        <p>Simplify & streamline the recruitment process and become the most preferred recruitment agency.</p>
    </div>
</div>

{% include "footer.html"%}

{% endblock content %}


