{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include "header.html" %}


<div id ="container3">
    <h2><b>Leave us a message:</b></h2></br>
    <div id ="message">
        <form action="" method="post">  {% csrf_token %}

            {{ form|crispy}}
            <button type="SUBMIT">SUBMIT</button>

        </form>
    </div>



    <div id="map">
        <div id="mapinfo">
            <h2>CONTACT AS:</h2>
        </div></br>
        <p>
            Anumay Consultancy</br>
            Kullappanaickanur</br>
            Salem-Dt</br>
            Tamilnadu</br>
            India</br>
            <a href="#" class="fa fa-phone">+919384402100</a>

        </p>

        </div>
    <div id='mapview'>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoieWFtdW5hdjU0IiwiYSI6ImNrOTRhd3BreDAzZzYzaG1saTVrYmsxc2wifQ.GAOTPor4Rofy4LP5GUzb3Q';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center:[78.1788,11.5712],
            zoom:12
            });
        </script>

    </div>




</div>
<div id="msgtxt"><h2><b>WE WILL GET BACK TO YOU AS SOON AS POSSIBLE</b></h2></div>


{% include "footer.html"%}


{% endblock content %}
