{% extends 'Base.html' %}

{% block content %}

{% include "header.html" %}


<div class="container4">
    <div id="services">
        <h3>Services</h3>
        <p>Having the right people is key to business success and here at Anumay, we help businesses address the challenges of change. In those periods of uncertainty, we can provide you with the talent you need to stay one step ahead. Share your business objectives and hiring plans with us and we’ll do the rest. From identifying prospective candidates, to selling your vision and securing your new hire at the right salary level, we’re experts at making sure you recruit the right people.<br><br>

        Our teams are focused on a specific job types, sectors and geography, so you’ll always deal with someone who knows your market well.
        </p>
    </div>
    <div class="box">
        <div class="icon">01</div>
        <div class="content">
            <h3>F&B CONCEPT
                AND DESIGN DEVELOPMENT</h3>
            <p>Focusing on Experience in the F&B business is the key to creating a successful F&B venue.While our expertise has always been Food service Design, we have launched a new creative arm to tackle front of the house design called LEVELS Studio.LEVELS Studio is a F&B design arm that specialises in the F&B strategy, concept development, interior design, graphic design and concept implementation of experiential spaces in the culinary industry.The team is dynamic and highly imaginative from varied backgrounds, each brings to the table with their own skillset and focused contribution which are tailored from a project to project basis.
            </p>

        </div>
    </div>

    <div class="box">
        <div class="icon">02</div>
        <div class="content">
            <h3>KITCHEN <br> & <br>BAR DESIGN</h3>
            <p>Good design and planning are essential to consistency in the quality of food and beverages.You require suitable equipment, but equally important, design which suits back- and front-end staff. A poorly-designed kitchen compromises quality and the bottom-line. An over-designed one will require more capital investment and staff than is necessary.Poor planning increases a project’s capex due to over-specified equipment, or low-quality equipment which do not last and drive energy costs up.     At CKP, we have a track record of delivering future-proof kitchens that are ergonomic and cost-efficient, robust and durable, yet flexible enough to evolve menus as tastes and market trends change.
            </p>

        </div>
    </div>

    <div class="box">
        <div class="icon">04</div>
        <div class="content">
            <h3>BOTH FACILITIES PLANNING</h3>
            <p>The backbone of any successful establishment is hidden behind-the-scenes but should never be overlooked in design. As the hospitality industry demands long working hours, the need for a comfortable working environment is vital to attract and retain good talent. At CKP, we provide creative and ergonomically-designed work, office and dining spaces that are key to staff morale and retention, keeping operations smooth and costs, low.<br><br>
                Heart of the House design includes:<br>
                <ul type="square">
                    <li>Staff Locker Room</li>
                    <li>Staff Break Rooms</li>
                    <li>Offices Areas</li>
                    <li>Storage Areas</li>
                    <li>Service Hallways</li>
                    <li>House Keeping Areas</li>

                    </li>
            </ul>


            </p>

        </div>
    </div>
    <div class="box">
        <div class="icon">03</div>
        <div class="content">
            <h3>SOLID WASTE MANAGEMENT</h3>
            <p>The best establishments view solid waste management not just as an environmental responsibility, but positive public relations, and in the long-term, beneficial to the brand and bottom-line. In addition to correct waste disposal, a proper plan should also include recycling programs and effectively reduce the volume of waste. CKP provides full analysis and strategies on waste separation and the specification of eco-friendly equipment in kitchens, bars and laundry which comply with green standards and municipal authorities.
            </p>

        </div>
    </div>
    <div class="box">
        <div class="icon">05</div>
        <div class="content">
            <h3>LAUNDRY FACILITIES DESIGN</h3>
            <p>A well-designed laundry is the unsung hero of any hotel. you are responsible to ensure that all laundry services for the hotels guests is done as per the standard policies and is met on time. Shortage of clean linen, towels, uniforms, and slow delivery of guest laundry are the result of poor planning and affect a hotel’s reputation. A properly designed laundry facility ensures guests’ garments are cleaned and returned on time, and staff are always dressed their best.
            </p>

        </div>
    </div>
    <div class="box">
        <div class="icon">06</div>
        <div class="content">
            <h3>INTERNSHIP</h3>
            <p>Taking a Hotel & Hospitality internship with Stepwest will allow you to obtain the necessary attributes and skills to progress in the exciting Hospitality Industry. We work with some of the top resorts, hotels and restaurants across World.The program is for enrolled students in vocational, professional, and undergraduate studies. Recent graduates who wish to gain a first work experience are also welcomed to apply.The program is applicable for:
            <ul type="square">
                <li>HouseKeeping</li>
                <li>Front office work</li>
                <li>Kitchen</li>
                <li>Food and beverage services</li>
            </ul>




            </p>

        </div>
    </div>
</div>

{% include "footer.html"%}


{% endblock content %}
