{% extends 'Base.html' %}

{% block content %}

{% include "header.html" %}


<div class="container4">
    <div class="box">
        <div class="icon">01</div>
        <div class="content">
            <h3>F&B CONCEPT
                AND DESIGN DEVELOPMENT</h3>
            <p>Focusing on Experience in the F&B business is the key to creating a successful F&B venue.
                While our expertise has always been Foodservice Design, we have launched a new creative arm to tackle front of the house design called LEVELS Studio.

                LEVELS Studio is a F&B design arm that specialises in the F&B strategy, concept development, interior design, graphic design and concept implementation of experiential spaces in the culinary industry.

                 The team is dynamic and highly imaginative from varied backgrounds, each brings to the table with their own skillset and focused contribution which are tailored from a project to project basis.
            </p>
            <a href ="#">Read more</a>
        </div>
    </div>

    <div class="box">
        <div class="icon">02</div>
        <div class="content">
            <h3>KITCHEN & BAR DESIGN</h3>
            <p>Good design and planning are essential to consistency in the quality of food and beverages.

                You require suitable equipment, but equally important, design which suits back- and front-end staff.

                A poorly-designed kitchen compromises quality and the bottom-line. An over-designed one will require more capital investment and staff than is necessary.

                Poor planning increases a project’s capex due to over-specified equipment, or low-quality equipment which do not last and drive energy costs up.

                At CKP, we have a track record of delivering future-proof kitchens that are ergonomic and cost-efficient, robust and durable, yet flexible enough to evolve menus as tastes and market trends change.
            </p>
            <a href ="#">Read more</a>
        </div>
    </div>
    <div class="box">
        <div class="icon">03</div>
        <div class="content">
            <h3>SOLID WASTE MANAGEMENT</h3>
            <p>The best establishments view solid waste management not just as an environmental responsibility, but positive public relations, and in the long-term, beneficial to the brand and bottom-line. In addition to correct waste disposal, a proper plan should also include recycling programs and effectively reduce the volume of waste. CKP provides full analysis and strategies on waste separation and the specification of eco-friendly equipment in kitchens, bars and laundry which comply with green standards and municipal authorities.
            </p>
            <a href ="#">Read more</a>
        </div>
    </div>
    <div class="box">
        <div class="icon">04</div>
        <div class="content">
            <h3>BOTH FACILITIES PLANNING</h3>
            <p>The backbone of any successful establishment is hidden behind-the-scenes but should never be overlooked in design. As the hospitality industry demands long working hours, the need for a comfortable working environment is vital to attract and retain good talent. At CKP, we provide creative and ergonomically-designed work, office and dining spaces that are key to staff morale and retention, keeping operations smooth and costs, low.

                Heart of the House design includes:
                Staff Locker Room
                Staff Break Rooms
                Offices Areas
                Storage Areas
                Service Hallways
                House Keeping Areas
            </p>
            <a href ="#">Read more</a>
        </div>
    </div>
    <div class="box">
        <div class="icon">05</div>
        <div class="content">
            <h3>LAUNDRY FACILITIES DESIGN</h3>
            <p>A well-designed laundry is the unsung hero of any hotel. Shortage of clean linen, towels, uniforms, and slow delivery of guest laundry are the result of poor planning and affect a hotel’s reputation. A properly designed laundry facility ensures guests’ garments are cleaned and returned on time, and staff are always dressed their best.
            </p>
            <a href ="#">Read more</a>
        </div>
    </div>
    <div class="box">
        <div class="icon">06</div>
        <div class="content">
            <h3>INTERNSHIP</h3>
            <p>Taking a Hotel & Hospitality internship with Stepwest will allow you to obtain the necessary attributes and skills to progress in the exciting Hospitality Industry. We work with some of the top resorts, hotels and restaurants across World.The program is for enrolled students in vocational, professional, and undergraduate studies. Recent graduates who wish to gain a first work experience are also welcomed to apply.


            </p>
            <a href ="#">Read more</a>
        </div>
    </div>
</div>

{% include "footer.html"%}


{% endblock content %}
