
    <div class="maindiv">
        <div class="image-slider">
            <figure>
                <img src="/static/images/one.JPG" style="width:800px;height:500px">
                <img src="/static/images/two.JPG" style="width:800px;height:500px">
                <!--<img src="/static/images/three.JPG" style="width:800px;height:500px">
                <img src="/static/images/four.JPG" style="width:800px;height:500px">
                <img src="/static/images/five.JPG" style="width:800px;height:500px"> -->
            </figure>
        </div>




    </div>